In [15]:
name = "ibnu"
address,province = "jl. Cikole","49848654"
age = 19
scorePython = 90.5
isMarried = True

print("Nama :",name)
print("Alamat :",address)
print("Umur :",age)
print("score :",scorePython)
print("Status :",isMarried)
print("provinsi :",province)

Nama : ibnu
Alamat : jl. Cikole
Umur : 19
score : 90.5
Status : True
provinsi : 49848654

In [9]:
print("tipe data <nama>       :",type(name))
print("tipe data <Alamat>     :",type(address))
print("tipe data <Umur>       :",type(age))
print("tipe data <scorePython>:",type(scorePython))
print("tipe data <Status>     :",type(isMarried))

tipe data <nama>       : <class 'str'>
tipe data <Alamat>     : <class 'str'>
tipe data <Umur>       : <class 'int'>
tipe data <scorePython>: <class 'float'>
tipe data <Status>     : <class 'bool'>

In [23]:
#casting / konvensi tipe data
#1. dari string ke boolean
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToBool,strToFloat,strToInt, sep="  ")
#2. interger ke (str, bool, float)
intToStr = int(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToBool,intToFloat,intToStr, sep="  ")
#3. bool ke (str, int, float)
boolToStr = int(age)
boolToInt = float(age)
boolToFloat = bool(age)
print(boolToStr,boolToInt,boolToFloat, sep="  ")

#4. float ke (str, bool, int)
floatToStr = int(age)
floatToInt = float(age)
floatToBool = bool(age)
print(boolToStr,boolToInt,boolToFloat, sep="  ")

True  49848654.0  49848654
True  19.0  19
19  19.0  True
19  19.0  True

In [33]:
#tipe data berbasis bilangan

desimal = 500 
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai decimal:", desimal)
print("Nilai Biner:", biner)
print("Nilai octal:", octal)
print("Nilai hexa:", hexa)

print("Nilai biner dari",desimal,":", bin(desimal))
print("Nilai octal dari",desimal,":", oct(desimal))
print("Nilai hexa dari",desimal,":", hex(desimal))

#tipe ke hexa
print("Nilai decimal dari",hexa,":", hexa)
print("Nilai octal dari",hexa,":", oct(hexa))
print("Nilai biner dari",hexa,":", bin(hexa))

Nilai decimal: 500
Nilai Biner: 10
Nilai octal: 255
Nilai hexa: 255
Nilai biner dari 500 : 0b111110100
Nilai octal dari 500 : 0o764
Nilai hexa dari 500 : 0x1f4
Nilai decimal dari 255 : 255
Nilai octal dari 255 : 0o377
Nilai biner dari 255 : 0b11111111

In [42]:

city = "MAKASSAR"
length=len(city)
print(city[0])
print(length)
print(city[length-1])

M
8
R

In [66]:
#tipe data collection

cities = ["bandung","sukabumi","bogor"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0]="jawa"
print(cities)

names=("ibnu","ilham","rapi","rapa")
print(names)
print(names[2])

studentData = {
    "name" : "ibnu",
    "address" : {
        "street":"cikole",
        "number": 14,
        "province":"Jawa Barat"
    },
    "age" : 19,
    "isMrried" : True,
    "hobbies": ["anime", "game"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

studentList[
    {
    "name" : "ibnu",
    "address" : {
        "street":"cikole",
        "number": 14,
        "province":"Jawa Barat"
    },
    "age" : 19,
    "isMrried" : True,
    "hobbies": ["anime", "game"]
    }

    
]

['bandung', 'sukabumi', 'bogor']
bandung
bogor
b
r
['jawa', 'sukabumi', 'bogor']
('ibnu', 'ilham', 'rapi', 'rapa')
rapi
{'name': 'ibnu', 'address': {'street': 'cikole', 'number': 14, 'province': 'Jawa Barat'}, 'age': 19, 'isMrried': True, 'hobbies': ['anime', 'game']}
19
Jawa Barat
anime