In [2]:
import numpy as np
import pandas as pd

In [23]:
np.random.seed(30)

# Jumlah data
Jd = 1000

data = {
    "umur": np.random.randint(18, 65, size=Jd),
    "gaji": np.random.normal(500000, 15000, size=Jd).astype(int),
    "tingkat_edukasi": np.random.choice(["SMA", "D3", "S1", "S2", "S3"], size=Jd),
    "pengalaman per tahun": np.random.randint(0, 40, size=Jd),
    "gender": np.random.choice(["Pria", "Wanita"], size=Jd),
    "status nikah": np.random.choice(["Ya", "Tidak"], size=Jd),
    "kendaraan mobil": np.random.choice(["Ya", "Tidak"], size=Jd),
    "skor kredit": np.random.randint(300, 850, size=Jd),
    "skor pengeluaran": np.random.randint(1, 100, size=Jd),
    "pembayaran": np.random.choice([0, 1], size=n),  # 0: tidak beli, 1: beli
}

# DataFrame
df = pd.DataFrame(data)

# Analisis statistik sederhana
stats = df.describe(include='all')

df.head(), stats

(   umur    gaji tingkat_edukasi  pengalaman per tahun  gender status nikah  \
 0    55  501652              S2                    11  Wanita        Tidak
 1    55  515844             SMA                    38    Pria        Tidak
 2    63  498992              S1                    29  Wanita           Ya
 3    63  499349              S3                    26  Wanita           Ya
 4    30  490489              S1                     2    Pria           Ya

   kendaraan mobil  skor kredit  skor pengeluaran  pembayaran
 0              Ya          397                25           1
 1           Tidak          596                40           0
 2              Ya          748                20           0
 3           Tidak          482                62           1
 4           Tidak          608                24           0  ,
                umur           gaji tingkat_edukasi  pengalaman per tahun  \
 count   1000.000000    1000.000000            1000           1000.000000
 unique          NaN            NaN               5                   NaN
 top             NaN            NaN              S3                   NaN
 freq            NaN            NaN             208                   NaN
 mean      41.757000  499879.390000             NaN             19.685000
 std       13.498302   15030.481245             NaN             11.428665
 min       18.000000  453190.000000             NaN              0.000000
 25%       30.750000  489731.500000             NaN             10.000000
 50%       42.000000  499968.500000             NaN             20.000000
 75%       54.000000  510144.000000             NaN             30.000000
 max       64.000000  545128.000000             NaN             39.000000

         gender status nikah kendaraan mobil  skor kredit  skor pengeluaran  \
 count     1000         1000            1000  1000.000000        1000.00000
 unique       2            2               2          NaN               NaN
 top     Wanita        Tidak              Ya          NaN               NaN
 freq       513          511             502          NaN               NaN
 mean       NaN          NaN             NaN   575.772000          50.33200
 std        NaN          NaN             NaN   157.500261          28.25176
 min        NaN          NaN             NaN   300.000000           1.00000
 25%        NaN          NaN             NaN   442.000000          26.00000
 50%        NaN          NaN             NaN   578.500000          49.00000
 75%        NaN          NaN             NaN   705.000000          74.00000
 max        NaN          NaN             NaN   849.000000          99.00000

          pembayaran
 count   1000.000000
 unique          NaN
 top             NaN
 freq            NaN
 mean       0.497000
 std        0.500241
 min        0.000000
 25%        0.000000
 50%        0.000000
 75%        1.000000
 max        1.000000  )