In [1]:
#Operation Aritmatic

x = int(input("Place First Input"))
y = int(input("Place Second Input"))

hasilTambah = x + y
hasilKurang = x - y
hasilKali = x * y
hasilPangkat = x ** y
hasilBagi = x / y
hasilMod = x % y
hasilBagiBulat = x // y

print("Hasil Tambah",x,"+",y,"=", hasilTambah)
print("Hasil Kurang",x,"-",y,"=", hasilKurang)
print("Hasil Kali",x,"*",y,"=", hasilKali)
print("Hasil Pangkat",x,"^",y,"=", hasilPangkat)
print("Hasil Bagi",x,"/",y,"=", hasilBagi)
print("Hasil Mod",x,"%",y,"=", hasilMod)
print("Hasil Bagi Bulat",x,"/",y,"=", hasilBagiBulat)

Place First Input 3
Place Second Input 5

Hasil Tambah 3 + 5 = 8
Hasil Kurang 3 - 5 = -2
Hasil Kali 3 * 5 = 15
Hasil Pangkat 3 ^ 5 = 243
Hasil Bagi 3 / 5 = 0.6
Hasil Mod 3 % 5 = 3
Hasil Bagi Bulat 3 / 5 = 0

In [5]:
#Perbandingan
value = int(input("Input First Value"))
value2 = int(input("Input Second Value"))

print("Is",value, "equal to", value2,"=",value == value2)
print("Is",value, "less than", value2,"=",value < value2)
print("Is",value, "less equal than", value2,"=",value <= value2)
print("Is",value, "bigger than", value2,"=",value > value2)
print("Is",value, "bigger equal than", value2,"=",value >= value2)
print("Is",value, "not equal to", value2,"=",value != value2)

Input First Value 3
Input Second Value 5

Is 3 equal to 5 = False
Is 3 less than 5 = True
Is 3 less equal than 5 = True
Is 3 bigger than 5 = False
Is 3 bigger equal than 5 = False
Is 3 not equal to 5 = True

In [11]:
#Logika

input1 = int(input("Input First value"))
input2 = int(input("Input Second value"))

print(input1 and input2)
print(input1 or input2)
print(not(input1))
print(not(input1 or input2))
print(not(input1 and input2))

Input First value 0
Input Second value 0

0
0
True
True
True

In [15]:
#Identity

nuts1 = 10 
nuts2 = "10"
nuts3 = nuts2

print("Address of the first variable",id(nuts1))
print("Address of the first variable",id(nuts2))
print("Address of the first variable",id(nuts3))

print(nuts1 is nuts2)
print(nuts3 is nuts2)
print(nuts3 is not nuts2)

Address of the first variable 140712253336280
Address of the first variable 2328628095920
Address of the first variable 2328628095920
False
True
False

In [17]:
#Keanggotaan

OP = "Akira"
member = "Guns"
print("i" in OP)

group = ["Akira", "Guns", "santoso"]

print(OP in group)
print("toni" in group)
print("devun" in group)

True
True
False
False

In [19]:
#bitwise

value1 = int(input("Input The First Value"))
value2 = int(input("Input The Second Value"))

print(bin(value1))
print(bin(value2))
print("------------------&")
print(bin(value1 & value2), "=", value1 & value2)
print()

print(bin(value1))
print(bin(value2))
print("-----------|")
print(bin(value1 | value2), "=", value1 | value2)
print()

print(bin(value1))
print(bin(value2))
print("-----------^")
print(bin(value1 ^ value2), "=", value1 ^ value2)
print()

print(bin(value1),"Binary Shift to the left", value2, "times")
print(bin(value1 << value2), "=", value1 << value2)
print()

print(bin(value1),"Binary Shift to the right", value2, "times")
print(bin(value1 >> value2), "=", value1 >> value2)

Input The First Value 3
Input The Second Value 6

0b11
0b110
------------------
0b10 = 2

0b11
0b110
-----------|
0b111 = 7

0b11
0b110
-----------^
0b101 = 5

0b11 Binary Shift to the left 6 times
0b11000000 = 192

0b11 Binary Shift to the right 6 times
0b0 = 0

In [31]:
#Tenary

value1 = int(input("Input Value"))

finalValue = value1 % 2
print("Even" if finalValue == 0 else "Odd")

Input Value -5

Odd

In [33]:
#tugas

piscok = 13000
kolak = 7000
esBuah = 15000



print("Piscok :", piscok)
print("Kolak :", kolak)
print("esBuah :", esBuah)

jumlahPiscok = int(input("Jumlah Pisang yang akan dibeli"))
jumlahKolak= int(input("Jumlah kolak yang akan dibeli"))
jumlahEsBuah= int(input("Jumlah esBuah yang akan dibeli"))

print("piscok", jumlahPiscok, "*", piscok,"=", jumlahPiscok*piscok) 
print("piscok", jumlahKolak, "*", kolak,"=", jumlahKolak*kolak) 
print("piscok", jumlahEsBuah, "*", esBuah,"=", jumlahEsBuah*esBuah)
print("--------------------------")
totalBelanja = jumlahPiscok*piscok+ jumlahKolak*kolak+jumlahEsBuah*esBuah
print("Total Belanja", totalBelanja)
discount = 5 if totalBelanja > 25000 else 0
print("Diskon :", discount, "%", "-->", totalBelanja*(discount/100))
print("Total Bayar",  totalBelanja-(totalBelanja*(discount/100)))

Piscok : 13000
Kolak : 7000
esBuah : 15000

Jumlah Pisang yang akan dibeli 4
Jumlah kolak yang akan dibeli 3
Jumlah esBuah yang akan dibeli 7

piscok 4 * 13000 = 52000
piscok 3 * 7000 = 21000
piscok 7 * 15000 = 105000
--------------------------
Total Belanja 178000
Diskon : 5 % --> 8900.0
Total Bayar 169100.0